body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
.mx {
  margin: 0 200px;
}
header {
  height: 729px;
  background: linear-gradient(
      89.83deg,
      #ffffff 14.24%,
      #ffffff 14.25%,
      rgba(255, 255, 255, 0) 99.55%
    ),
    url("../img/hero-3-cover.jpeg.jpg");
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brandName {
  width: 145px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.navbar button {
  width: 137px;
  height: 52px;
  background-color: #fc724d;
  border-radius: 5px;
  border: none;
  color: #fff;
}
.navbar button span {
  width: 60px;
  height: 22px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}

header h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #fc724d;
  letter-spacing: 0.1px;
  margin-top: 154px;
}
header h1 {
  width: 560px;
  height: 160px;
  font-weight: 700;
  font-size: 58px;
  color: rgba(37, 43, 66, 1);
  line-height: 80px;
  letter-spacing: 0.2px;
  margin-top: 0;
}
header p {
  width: 338px;
  height: 30px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(115, 115, 115, 1);
  letter-spacing: 0.2px;
}
